.storybook-button {
  display: inline-block;
  cursor: pointer;
  border: 0;
  border-radius: 3em;
  
  text-align: center;
  font-family: "Helvetica Neue";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 24px */
  letter-spacing: -0.3px;
}
.storybook-button--primary {
  background-color: #250D53;
  color: white;
}
.storybook-button--secondary {
  background: #FFF;
  color: #333;
  box-shadow: 0 4px 8px 1px rgba(0, 0, 0, 0.20);
}
.storybook-button--small {
  padding: 10px 16px;
  font-size: 12px;
}
.storybook-button--medium {
  padding: 12px 32px;
  font-size: 20px;
}
.storybook-button--large {
  padding: 14px 38px;
  font-size: 16px;
}
