@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loading-spinner-container {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.loading-spinner-container.with-text {
  gap: 12px;
}

.loading-spinner {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.loading-spinner svg {
  animation: spin 1s linear infinite;
}

.loading-text {
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: left;
  justify-content: left;
}

.loading-title {
  color: #3a3a3a;
  text-align: left;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.loading-subtitle {
  color: #707070;
  text-align: left;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
