@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000;
  --primary: #250D53;
  --border-gray: #E0E0E0;
  --text-dark: #333;
  --option-selected: #ECC58E;
  --disabled: #a69cb6;
  --disabled-text: #F5F3F9;
  --error: #FF6B9D;
  --error-text: #FFA8C5;
  --success: #4CAF50;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-border-gray: var(--border-gray);
  --color-text-dark: var(--text-dark);
  --color-option-selected: var(--option-selected);
  --color-disabled: var(--disabled);
  --color-disabled-text: var(--disabled-text);
  --color-error: var(--error);
  --color-error-text: var(--error-text);
  --color-success: var(--success);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

/* Custom Tailwind utilities */
@utility shadow-field {
  box-shadow: 0 4px 8px 1px rgba(0, 0, 0, 0.20);
}