@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #000;
  --primary: #250d53;
  --border-gray: #e0e0e0;
  --text-dark: #333;
  --option-selected: #ecc58e;
  --disabled: #a69cb6;
  --disabled-text: #f5f3f9;
  --error: #ff6b9d;
  --error-text: #ffa8c5;
  --success: #4caf50;
  --purple-link: #8460f7;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-border-gray: var(--border-gray);
  --color-text-dark: var(--text-dark);
  --color-option-selected: var(--option-selected);
  --color-disabled: var(--disabled);
  --color-disabled-text: var(--disabled-text);
  --color-error: var(--error);
  --color-error-text: var(--error-text);
  --color-success: var(--success);
  --color-purple-link: var(--purple-link);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --max-w-dashboard: 1440px;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

/* Custom Tailwind utilities */
@utility shadow-field {
  box-shadow: 0 4px 8px 1px rgba(0, 0, 0, 0.2);
}

body {
  background-color: #f9fafb;
}

.dashboard-container {
  max-width: var(--max-w-dashboard);
  width: 100%;
  flex: 1;
  max-height: min(767px, 100vh);
  margin: 0 auto;
}
