/* Checkbox custom styles */

.checkbox-input {
  appearance: none;
  -webkit-appearance: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border: 0.5px solid #c7c7c7;
  border-radius: 4px;
  background: #f9fafb;
  outline: none;
  cursor: pointer;
  position: relative;
  flex-shrink: 0;
}

.checkbox-input:checked {
  background: #250D53;
  border-color: #250D53;
}

.checkbox-input:checked::after {
  content: '';
  position: absolute;
  left: 4.5px;
  top: 2px;
  width: 4px;
  height: 7px;
  border: solid white;
  border-width: 0 1.5px 1.5px 0;
  transform: rotate(45deg);
}

.checkbox-input:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
