/* Checkbox custom styles */

.checkbox-input {
  appearance: none;
  -webkit-appearance: none;
  width: 24px;
  height: 24px;
  border: 2px solid #333;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  position: relative;
  flex-shrink: 0;
}

.checkbox-input:checked {
  background: #250D53;
  border-color: #250D53;
}

.checkbox-input:checked::after {
  content: '';
  position: absolute;
  left: 7px;
  top: 3px;
  width: 6px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.checkbox-input:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
